body {
    margin: 10%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    border-width: .1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 8px 8px 5px grey;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flexgrow {
    flex-grow: 2;
    margin-left: 10%;
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
}

.payment_block {
    flex-grow: 2;
}

.cart_block {
    flex-grow: 1;
    background-color: lightgray;
}

.dark {
    font-weight: bold;
}

.pad {
    padding: 9px;
}

.down {
    border-width: .1px;
    border-style: solid;
    border-color: lightgrey;
}